# netbeans project works
nbproject

# zend studio for eclipse project works
.buildpath
.project
.settings

# sublime text project / workspace works
*.sublime-project
*.sublime-workspace

# visual studio code project works
.vscode
.idea
# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# Environment varibles
.env
# Our settings
*pyc
__pycache__

src/static/*
