{% extends 'layout.html' %}

{% block body %}

    <div class="container" id="App">
        <div class="row">
            <div class="col">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        {% if last_check %}
                            <div class="alert alert-{{ last_check.1 }} shadow-sm">
                                {{ last_check.0 }}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-4">
                                {% if object %}
                                    <a href="{% url 'create' %}" class="btn btn-outline-danger">
                                        Создать полигон
                                    </a>
                                {% endif %}
                                <a href="{% url 'list' %}" class="btn btn-dark">
                                    Список полигонов
                                </a>
                                <hr>
                                {% if not object %}
                                    <div :class="info_class" v-text="'Указано точек ' + pol.length + ' из мин. 4 (макс. 10)'"></div>
                                    {% if not object %}
                                        <button v-if="pol.length > 3" class="btn btn-dark me-auto"
                                                @click="canvasComplete">
                                            Закончить фигуру и указать точку
                                        </button>
                                    {% endif %}
                                    <hr>
                                {% endif %}
                                <form method="post" action="{% url 'polygon_manager' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="pol" :value="pol">
                                    <input type="hidden" name="last_point" :value="last_point">
                                    <input type="hidden" name="object_id"
                                           value="{{ object.id|default_if_none:'null' }}">
                                    {% if not object %}

                                        <div class="form-check mb-2">
                                            <input class="form-check-input"
                                                   :disabled="last_point == null"
                                                   type="checkbox"
                                                   v-model="for_save"
                                                   name="for_save"
                                                   :value="for_save"
                                                   id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Сохранить полигон?
                                            </label>
                                        </div>

                                        <div class="mb-2">
                                            <label for="polygon_name">Название полигона</label>
                                            <input type="text" id="polygon_name"
                                                   class="form-control"
                                                   :required="for_save"
                                                   :disabled="!for_save"
                                                   name="polygon_name">
                                        </div>
                                    {% endif %}
                                    <button class="btn btn-danger ms-auto"
                                            :disabled="last_point == null"
                                            type="submit">
                                        Отправить данные
                                    </button>
                                </form>
                            </div>
                            <div class="col-8 text-center">
                                <div class="d-flex">
                                    <div class="flex-fill" :class="state_msg_class" v-text="state_msg"></div>
                                    <div class="flex-fill" v-text="currX + ', ' + currY"></div>
                                </div>
                                <canvas id="polygon"
                                        @mousedown="canvasPoint"
                                        @mousemove="move"
                                        class="border border-dark shadow"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        let app = new Vue({
            el: '#App',
            mounted() {
                var c = document.getElementById("polygon");
                this.vueCanvas = c.getContext("2d");
                this.vueCanvas.beginPath();
                this.vueCanvas.strokeStyle = '#32a852';
                this.vueCanvas.canvas.width = 500;
                this.vueCanvas.canvas.height = 500;
                this.is_last_point = false;

                if (this.pol.length)
                    this.canvasComplete()

            },
            data: {
                pol: {{ points }},
                currX: 0,
                currY: 0,
                prevX: 0,
                prevY: 0,
                last_point: null,
                is_last_point: null,
                testMsg: 'Hello',
                state_msg: null,
                for_save: false,
                info_class: "text-danger",
                state_msg_class: "text-dark"
            },
            computed: {},
            watch: {
                pol() {
                    this.info_class = this.pol.length < 4
                        ? "text-danger"
                        : "text-dark"

                },
                is_last_point(state) {
                    this.state_msg = state
                        ? "Укажите проверяемую точку"
                        : "Строим полигон"
                }
            },
            methods: {
                canvasPoint(event) {
                    if (this.pol.length > 9 && !this.is_last_point) {
                        this.state_msg_class = "text-danger"
                        this.state_msg = "Много точек!"
                        return null
                    }
                    let x = event.offsetX;
                    let y = event.offsetY;
                    this.vueCanvas.moveTo(x, y);
                    if (this.is_last_point) {
                        if (this.last_point != null)
                            return
                        this.last_point = [x, y]
                        this.vueCanvas.arc(x, y, 1, 0, 360, false);
                        this.vueCanvas.stroke();
                    } else {
                        this.pol.push([x, y])
                        this.vueCanvas.arc(x, y, 1, 0, 360, false);
                        this.vueCanvas.stroke();
                    }
                },
                move(event) {
                    this.prevX = this.currX;
                    this.prevY = this.currY;

                    this.currX = event.offsetX;
                    this.currY = event.offsetY;
                },
                canvasComplete() {
                    this.pol.forEach(item => this.vueCanvas.lineTo(item[0], item[1]))
                    this.is_last_point = true;
                    this.vueCanvas.closePath();
                    this.vueCanvas.stroke();
                },
            },
        })
    </script>
{% endblock %}