{% extends 'layout.html' %}

{% block style %}
    <style>
        .canvas {
            border: 1px solid black;
            padding-top: 50px;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container" id="App">
        <div class="row">
            <div class="col">
                <div class="card mt-3 shadow">
                    <div class="card-body text-center">
                        <a href="{% url 'list' %}" class="btn btn-dark">
                            Список полигонов
                        </a>
                        <div class="row">
                            <div class="col d-flex">
                                {% if last_check %}
                                    <div class="alert alert-info shadow-sm">
                                        {{ last_check }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <div class="d-flex">
                                    <div class="flex-fill" v-text="state_msg"></div>
                                    <div class="flex-fill" v-text="currX + ', ' + currY"></div>
                                </div>
                                <canvas id="polygon"
                                        @mousedown="canvasPoint"
                                        @mousemove="move"
                                        class="canvas shadow"></canvas>
                            </div>
                            <div class="col-2 d-flex flex-fill justify-content-center">
                                <hr class="my-5">
                                <form method="post" action="{% url 'polygon_manager' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="pol" :value="pol">
                                    <input type="hidden" name="last_point" :value="last_point">
                                    <input type="hidden" name="object_id"
                                           value="{{ object.id|default_if_none:'null' }}">
                                    {% if not object %}
                                        <div class="form-check mb-2">
                                            <input class="form-check-input"
                                                   :disabled="last_point == null"
                                                   type="checkbox"
                                                   v-model="for_save"
                                                   name="for_save"
                                                   :value="for_save"
                                                   id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Сохранить полигон?
                                            </label>
                                        </div>
                                        <div class="mb-2">
                                            <label for="polygon_name">Название полигона</label>
                                            <input type="text" id="polygon_name"
                                                   class="form-control"
                                                   :required="for_save"
                                                   :disabled="!for_save"
                                                   name="polygon_name">
                                        </div>
                                    {% endif %}
                                    <button class="btn btn-success ms-auto"
                                            :disabled="last_point == null"
                                            type="submit">
                                        Отправить данные
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% if not object %}
                        <div class="card-footer d-flex">
                            <button v-if="pol.length < 4"
                                    disabled
                                    class="btn btn-outline-primary me-auto">
                                <span v-text="'Указано точек ' + pol.length + ' из мин. 4'"></span>
                            </button>
                            {% if not object %}
                                <button v-if="pol.length > 3" class="btn btn-dark me-auto" @click="canvasComplete">
                                    Закончить фигуру и указать точку
                                </button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        let app = new Vue({
            el: '#App',
            mounted() {
                var c = document.getElementById("polygon");
                this.vueCanvas = c.getContext("2d");
                this.vueCanvas.beginPath();
                this.vueCanvas.strokeStyle = '#32a852';
                this.vueCanvas.canvas.width = 500;
                this.vueCanvas.canvas.height = 500;
                this.is_last_point = false;

                if (this.pol.length)
                    this.canvasComplete()

            },
            data: {
                pol: {{ points }},
                currX: null,
                currY: null,
                prevX: null,
                prevY: null,
                last_point: null,
                is_last_point: null,
                testMsg: 'Hello',
                state_msg: null,
                for_save: false
            },
            computed: {},
            watch: {
                is_last_point(state) {
                    this.state_msg = state
                        ? "Укажите проверяемую точку"
                        : "Строим полигон"
                }
            },
            methods: {
                canvasPoint(event) {
                    if (this.pol.length > 10 && !this.is_last_point) {
                        this.state_msg = "Много точек!"
                        return null
                    }
                    let x = event.offsetX;
                    let y = event.offsetY - 50;
                    this.vueCanvas.moveTo(x, y);
                    if (this.is_last_point) {
                        if (this.last_point != null)
                            return
                        this.last_point = [x, y]
                        this.vueCanvas.arc(x, y, 1, 0, 360, false);
                        this.vueCanvas.stroke();
                    } else {
                        this.pol.push([x, y])
                        this.vueCanvas.arc(x, y, 1, 0, 360, false);
                        this.vueCanvas.stroke();
                    }
                },
                move(event) {
                    this.prevX = this.currX;
                    this.prevY = this.currY;

                    this.currX = event.offsetX;
                    this.currY = event.offsetY;
                },
                canvasComplete() {
                    this.pol.forEach(item => this.vueCanvas.lineTo(item[0], item[1]))
                    this.is_last_point = true;
                    this.vueCanvas.closePath();
                    this.vueCanvas.stroke();
                },
            },
        })
    </script>
{% endblock %}